/* Style for body and html */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Quattrocento Sans', sans-serif;
    color: black;
    background-color: rgba(174, 15, 15, 0.758);
}

/* Style for body to text align center */

body {
    text-align: center;
}

/* Style for material icon */

.material-symbols-outlined {
    Float: left;
    color: blue;
    filter: contrast(1.7);
    margin-right: 15px;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 5px;
}

/* Style for elements inside header */

.headings-box {
    height: 40px;
    width: auto;
    display: block;

    position: relative;

}

/* Style for logo heading */

.logo-heading {
    float: left;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: blue;
    color: white;
    margin: 0px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for Nav bar */

.nav-bar {
    font-family: 'Playfair Display', serif;
    float: right;
    margin-top: 5px;
    margin-right: 5px;

}

.nav-bar button {
    color: white;
    background-color: black;
    filter: contrast(1.8);
    border: none;
    margin-right: 5px;
    border-radius: 5px;
}

.nav-bar .play-game {
    color: white;
    background-color: black;

    border: none;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-bar .home-link {
    color: white;
    background-color: black;

    border: none;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-bar .feedback-link {
    color: white;
    background-color: black;

    border: none;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
}

/* Style for profile button */

.control-button {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

/* Style for h2 heading on play game page */

.quiz-heading2 {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    color: gold;
    filter: contrast(1.75);
    text-align: center;
    font-size: 15px;
    height: 20px;
    margin-top: 50px;
    display: block;
}

/* Style for alert heading */

.alert-heading-box {
    height: 80px;
    width: auto;
    display: block;

}

.alert {
    text-align: center;
    margin: 0;
    float: none;
    font-size: 15px;
    background-color: blueviolet;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 20px;
    visibility: hidden;


}

/* Style for paragrapgh tag that shows user name */

.show-data {
    height: 25px;
    width: auto;
    color: gold;
    filter: contrast(1.7);
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 0;
}

/* Style for avatar image */

.profile-avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin-left: 110px;
    visibility: hidden;
}

/* Style for questions and choices div */

#main-box {

    background-color: yellow;
    box-sizing: border-box;
    width: 80%;
    height: 55vh;
    max-height: 280px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 1%;
    border-radius: 5px;
    display: none;
}

/* Style for Questions div */

.quiz {
    font-size: 15px;
    margin: 10px;
    color: black;
    font-weight: 600;
}

/* Style for options div */

.option {
    background-color: white;
    font-size: 12px;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 40%;
}

/* Style for span element that says click to play quiz */

.start {
    font-size: 15px;

    font-weight: bold;
    padding: 5px;
    margin: 40px auto 0px auto;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    height: 20px;
    width: 20%;
}

/* Style for options div */

.option:hover {
    background-color: rgb(238, 199, 199)
}

.button:hover {
    background-color: red;
}

.option.selected {
    background-color: blue;
}

/* Style for score div */

#quiz-score {
    font-size: 20px;
    margin-top: 20px;
}

/* Style for social media icons's main div */

.social-icons {
    max-height: 50px;
    margin: 0px 0px 5px 0px;
}

/* Style for next button in questions and choices div */
.button-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 15px;
    padding: 0;
    margin-top: 10px;
}

/* Style for Social Conatainer div */

.social-container {
    display: flex;
    width: 100%;
    max-height: 50px;
    justify-content: center;
    border-radius: 5px;
}

/* Style for individual divs in Social container */

.social-container>div {
    display: inline;
    font-size: 10px;
    font-weight: bold;
    padding: 0px;
    width: 80px;
    height: 20px;
    background-color: rgb(204, 189, 189);
    margin-top: 5px;
}

/* Style for follow us h5 heading */

.follow-us {
    text-align: center;
    font-weight: bold;
}

/* Style for Model box */

#profile-model {
    display: flex;
    width: 40%;
    height: 80px;
    margin: auto;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(204, 189, 189);
    align-items: center;
    flex-wrap: nowrap;
}

#profile-model .enter-div {
    display: inline;
    font-size: 15px;
    filter: contrast(1.75);
    font-weight: bold;
    width: 15%;
    height: 40px;
    flex-grow: 1;
}

#profile-model .Input-div {
    display: inline;
    font-size: 10px;
    margin-left: 5px;
    width: 15%;
    height: 40px;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 5px;
}

#profile-model .submit-div {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    width: 10%;
    height: 40px;
    flex-grow: 0;
    cursor: pointer;
    border: 5px;
}

#profile-model .cross-div {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    width: 5%;
    height: 40px;
    flex-grow: 0;
}

.profile-model-style {

    visibility: hidden;


}

.close-popup {
    margin-bottom: 15px;
}

/* Style for rate section */

.rate-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: blue;
    height: 130px;
    width: auto;
    filter: contrast(1.7);

}

.rate-heading {
    height: 30px;
    margin: 0;
    color: gold;
    filter: contrast(1.75);
    font-weight: 300;
}

.rate-form .rateInput {
    color: blue;
}

.rate-para {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    height: 25px;
    width: auto;
    margin: 0;
    text-align: center;
}

.rate-box {
    height: 100px;
    width: auto;
}

.satisified {
    text-align: left;
    width: 100%;
    position: relative;
    margin-right: 100px;
    font-size: 12px;
}

.average {
    text-align: center;
    width: 100%;
    position: relative;
    margin-right: 100px;
    font-size: 12px;

}

.dissatisified {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 12px;

}

.enter-button {
    margin: 10px 0px 5px 0px;
    border-radius: 5px;
    border: none;
    color: blue;
}

/* Style for review section */

.review-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: blue;
    height: 290px;
    width: auto;
    filter: contrast(1.7);
    margin: 30px 0px 220px 0px;
}
.review-box {
    height: 280px;
    width: auto;
    margin: 0;
}

.review-form {
    height: 250px;
    width: auto;
    margin: 0;
}

.subject-para {
    height: 21px;
    width: auto;
    margin: 5px 0px 10px 0px;
    font-size: 15px;
}

.desc-para {
    height: 21px;
    width: auto;
    margin: 5px 0px 10px 0px;
    font-size: 15px;
}

.review-heading {
    height: 20px;
    width: auto;
    margin: 20px 0px 20px 0px;
}

.submit-description {
    height: 25px;
    width: auto;
    margin: 10px 0px 0px 0px;
}

#review-content {
    height: 60px;
    width: auto;
    border-radius: 5px;
}

#review-exp {
    height: 60px;
    width: auto;
    border-radius: 5px;
}

.submit-description {
    height: 25px;
    width: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    color: blue;
}
/* Style for empty box */

.empty-box {
    height: 210px;
    width: 100%;
    margin-bottom: 250px;
}

#empty {
    height: 0px;
    width: auto;
}

/* Style home page instructions div */

#instructions {
    font-family: 'Quattrocento Sans', sans-serif;
    height: 400px;
    width: auto;
    margin-bottom: 250px;
}

div.instructions {
    display: block;
    height: 240px;
    width: auto;
    text-align: center;

}

ul.instr-list {
    color: #fefefe;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    margin-bottom: 150px;
}

ul.instr-list li {
    margin-top: 5px;
    list-style-type: disc;
}

.instr-heading {
    font-family: 'Playfair Display', serif;
    height: 22px;
    width: auto;
    color: gold;
    font-weight: bold;
    text-align: center;
    filter: contrast(2.5);
    

}

/* Media queries for devices with max width 1200px */

@media screen and (max-width: 1200px) {

    /* Style for span element with text click to play quiz */

    .start {
        width: 20%;
    }
    
    /* Style for Model box */

    #profile-model {
        display: flex;
        width: 70%;
        height: 80px;
        margin: auto;
        justify-content: center;
        border-radius: 5px;
        background-color: rgb(204, 189, 189);
        align-items: center;
        flex-wrap: wrap;
    }

    #profile-model .enter-div {
        display: inline;
        font-size: 15px;
        width: 18%;
        height: 40px;
    }

    #profile-model .Input-div {
        display: inline;
        font-size: 10px;
        margin-left: 5px;
        width: 30%;
        height: 40px;
    }

    #profile-model .submit-div {
        display: inline;
        font-size: 15px;
        margin-left: 10px;
        width: 10%;
        height: 40px;
    }

    #profile-model .cross-div {
        display: inline;
        font-size: 15px;
        margin-left: 10px;
        width: 5%;
        height: 40px;
    }
}

/* Style for devices with max width 950px */

@media screen and (max-width: 950px) {

    /* Style for span element with text click to play quiz */

    .start {
        width: 20%;
    }
    
    /* Style for Model box */

    #profile-model {
        display: flex;
        width: 80%;
        height: 80px;
        margin: auto;
        justify-content: center;
        border-radius: 5px;
        background-color: rgb(204, 189, 189);
        align-items: center;
        flex-wrap: wrap;
    }

    #profile-model .enter-div {
        display: inline;
        font-size: 15px;
        width: 25%;
        height: 40px;
    }

    #profile-model .Input-div {
        display: inline;
        font-size: 10px;
        margin-left: 15px;
        width: 35%;
        height: 40px;
    }

    #profile-model .submit-div {
        display: inline;
        font-size: 15px;
        margin-left: 10px;
        width: 15%;
        height: 40px;
    }

    #profile-model .cross-div {
        display: inline;
        font-size: 15px;
        margin-left: 10px;
        width: 5%;
        height: 40px;
    }

    /* For Rate paragraph */

    .rate-para {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: blue;
        height: 25px;
        width: auto;
        margin: 5px 0px 0px 0px;
    }
    
    /* Style for review section */

    .review-section {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        color: blue;
        height: 290px;
        width: auto;
        filter: contrast(1.7);
        margin: 30px 0px 230px 0px;
    }
    
    /* Style for empty box */

    .empty-box {
        height: 210px;
        width: 100%;
        margin-top: 240px;
    }
    
    /* Style for home page instructions div */

    #instructions {
        height: 400px;
        width: auto;
        margin-bottom: 260px;
    
    }

}

/* Style for devices with max width 600 px */

@media screen and (max-width: 600px) {

    /* Style for span element with text click to play quiz */

    .start {
        width: 30%;
    }
    
    /* Style for header */

    header.headings-box {
        position: relative;
        height: 160px;
        width: auto;
    }
    
    /* Style for avatar image */

    .profile-avatar {
        height: 60px;
        width: auto;
        margin: 0;
        margin-top: 10px;
    }
    
    /* Style for paragrapgh tag that shows user name */

    .show-data {
        margin: 5px 0px 0px 0px;
    }
    /* Style for h2 heading */

    .quiz-heading2 {
        margin: 10px 0px 10px 0px;  
    }
    
    /* Style for header */

    header.headings-box:after {

        display: inline-block;
        height: 100%;
    }

    h1#logo-box {
        text-align: center;
        font-size: 20px;
        background-color: blue;
        color: white;
        margin: 0px;
        border-radius: 5px;
        float: none;
    }
    
    /* Style for material icon */

    .material-symbols-outlined {
        visibility: hidden;
    }
    
    /* Style for nav bar */

    .nav-bar {
        text-align: center;
        float: none;
        margin-top: 20px;
    }
    /* Style for empty box */

    #empty {
        max-height: 5px;
        width: auto;
    }
    
    /* Style for questions and choices div */

    #main-box {

        background-color: yellow;
        box-sizing: border-box;
        width: 80%;
        height: 60vh;
        max-height: 300px;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding: 1%;
        border-radius: 5px;
        display: none;
        position: relative;
    }

    /* For Rate Paragraph */

    .rate-para {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: blue;
        height: 40px;
        width: auto;
        margin: 5px 0px 0px 0px;
    }

    .satisified {
        text-align: left;
        width: 100%;
        position: relative;
        margin-right: 50px;
        font-size: 12px;
    }

    .average {
        text-align: center;
        width: 100%;
        position: relative;
        margin-right: 50px;
        font-size: 12px;

    }

    .dissatisified {
        text-align: center;
        width: 100%;
        position: relative;
        font-size: 12px;

    }
    
    /* Style for Model box */

    #profile-model {
        display: flex;
        width: 85%;
        height: 80px;
        margin: auto;
        justify-content: center;
        border-radius: 5px;
        background-color: rgb(204, 189, 189);
        align-items: center;
        flex-wrap: wrap;
    }

    #profile-model .enter-div {
        display: inline;
        font-size: 15px;
        width: 25%;
        height: 40px;
    }

    #profile-model .Input-div {
        display: inline;
        font-size: 10px;
        margin-left: 5px;
        width: 35%;
        height: 40px;
    }

    #profile-model .submit-div {
        display: inline;
        font-size: 15px;
        margin-left: 20px;
        width: 15%;
        height: 40px;
    }

    #profile-model .cross-div {
        display: inline;
        font-size: 15px;
        margin-left: 10px;
        width: 5%;
        height: 40px;
    }
    /* Style for home page instructions div */

    #instructions {
        height: 400px;
        width: auto;
        margin-top: 40px;

    }

    /* Sytle for empty box */

    .empty-box {
        height: 230px;
        width: 100%;
    }

}

/* Style for devices width max width 500px */

@media screen and (max-width: 500px) {

    /* Style for span element with text click to play quiz */

    .start {
        width: 40%;
        display: inline-block;
        margin: 0;
    }
    
    /* Style for nav bar */

    .nav-bar {
        height: 25px;
        width: auto;
        display: block;

        margin-left: 5px;
    }
    
    /* Style for Image avatar */

    .profile-avatar {
        vertical-align: middle;
        width: 60px;
        margin: 10px 0px 0px 0px;
        height: 60px;
        visibility: hidden;
        display: inline-block;
    }
    
    /* Style for paragrapgh tag that shows user name */

    .show-data {
        margin: 5px 0px 0px 0px;
    }
    
    /* Style for h2 heading */

    .quiz-heading2 {
        box-sizing: border-box;
        text-align: center;
        font-size: 17px;
        height: 30px;
        margin: 0;
        display: block;
    }
    
    /* Style for header */

    .headings-box {
        height: 150px;
        width: auto;
        display: block;
    }
    
    /* Style for Model box */

    #profile-model {
        display: flex;
        width: 100%;
        height: 80px;
        margin: auto;
        justify-content: center;
        border-radius: 5px;
        background-color: rgb(204, 189, 189);
        align-items: center;
        flex-wrap: nowrap;
    }

    #profile-model .enter-div {
        display: inline;
        font-size: 10px;
        width: 30%;
        height: 40px;
        word-wrap: break-word;
        min-width: 0;
    }

    #profile-model .Input-div {
        display: inline;
        font-size: 10px;
        margin-left: 5px;
        width: 45%;
        height: 40px;
        overflow: hidden;
    }

    #profile-model .submit-div {
        display: inline;
        font-size: 10px;
        margin-left: 5%;
        width: 20%;
        height: 40px;
    }

    #profile-model .cross-div {
        display: inline;
        font-size: 13px;
        font-weight: bold;
        margin-left: 10px;
        width: 5%;
        height: 40px;
    }

    /*  Style for rate paragrapgh */

    .rate-para {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: blue;
        height: 40px;
        width: auto;
        margin: 5px 0px 0px 0px;
    }

    .satisified {
        text-align: left;
        width: 100%;
        position: relative;
        margin-right: 20px;
        font-size: 12px;
    }

    .average {
        text-align: center;
        width: 100%;
        position: relative;
        margin-right: 20px;
        font-size: 12px;

    }

    .dissatisified {
        text-align: center;
        width: 100%;
        position: relative;
        font-size: 12px;

    }
    
    /* Style for h5 review heading */
    
    .review-heading {
        height: 20px;
        width: auto;
        margin: 20px 0px 30px 0px;
    }

}
/* Media query for deveices width max width 300px */

@media screen and (max-width: 300px) {

    /* Style for span element with text click to play quiz */
    
    .start {
        width: 50%;
        display: inline-block;
        margin: 0;
        height: 20px;
        margin-top: 10px;
    }
    
    /* Style for header */

    .headings-box {
        height: 130px;
        width: auto;
        display: block;
        position: relative;
    }
    
    /* Style for alert heading */

    .alert-heading-box {
        height: 120px;
        width: auto;
        display: block;
    }
    
    /* Style for image avatar */

    .profile-avatar {
        margin-top: 10px;
    }
    
    /* Style for logo heading */

    h1#logo-box.logo-heading {
        margin-bottom: 5px;
    }
    
    /* Style for heading */

    .quiz-heading2 {
        box-sizing: border-box;
        text-align: center;
        font-size: 17px;
        height: 40px;
        margin-top: 10px;
        display: block;
    }
    
    /* Style for nav bar */

    .nav-bar {
        text-align: center;
        float: none;
        margin-right: 60px;
        height: 20px;
        font-weight: 150;
        padding: 0;
        width: 100%;
        display: block;
    }
    
    /* Style for Model box */

    #profile-model {
        display: flex;
        width: 95%;
        height: 80px;
        margin: auto;
        justify-content: center;
        border-radius: 5px;
        background-color: rgb(204, 189, 189);
        align-items: center;
        flex-wrap: nowrap;
    }

    #profile-model .enter-div {
        display: inline;
        font-size: 12px;
        width: 15%;
        height: 40px;

    }

    #profile-model .Input-div {
        display: inline;
        font-size: 5px;
        margin-left: 5px;
        width: 25%;
        height: 40px;
        flex-wrap: wrap;
        flex-shrink: 2;
        overflow: hidden;
    }

    #profile-model .submit-div {
        display: inline;
        font-size: 5px;
        margin-left: 3%;
        width: 10%;
        height: 40px;
    }

    #profile-model .cross-div {
        display: inline;
        font-size: 15px;
        margin-left: 20px;
        width: 10%;
        height: 40px;
    }
    
    /* Style for rate paragrapgh */

    .rate-para {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: blue;
        height: 60px;
        width: auto;
        margin: 5px 0px 10px 0px;

    }

    .satisified {
        display: block;
        text-align: center;
        width: 100%;
        position: relative;
        font-size: 12px;
    }

    .average {
        display: block;
        text-align: center;
        width: 100%;
        position: relative;
        font-size: 12px;

    }

    .dissatisified {
        display: block;
        text-align: center;
        width: 100%;
        position: relative;
        font-size: 12px;

    }
    
    /* Style for review heading */

    .review-heading {
        height: 40px;
        width: auto;
        margin: 30px 0px 10px 0px;
    }

    /* Style for review section */

    .review-section {
        height: 280px;
        width: auto;
        margin: 0;
    }

    /* Style for alert heading */

    .alert {
        height: 25px;
        margin: 0;
        width: 100%;
    }

}

/* Media query for devices with max screen width 200px */

@media screen and (max-width: 200px) {
    
    /* Style for span element with text click to play quiz */

    .start {
        width: 20%;
    }
    
    /* Style for Model box */
    
    #profile-model {
        display: flex;
        width: 70%;
        height: 70px;
        margin: auto;
        justify-content: center;
        border-radius: 5px;
        background-color: rgb(204, 189, 189);
        align-items: center;

    }

    #profile-model div {

        display: inline;
        font-size: 15px;
        margin-left: 20px;
    }
}