body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color:green;
    text-align: center;
}
.quiz-heading1 {
    text-align: center;
    font-size: 40px;
}
.quiz-heading2 {
    text-align: center;
    font-size: 25px;
}
#main-box {
    
    background-color: #54c2cc;
    box-sizing: border-box;
    width: 80%;
    height: 55vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
