body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: rgba(255, 0, 0, 0.742);
    text-align: center;
    box-sizing: border-box;
}


.material-symbols-outlined {
    Float: left;
    color: blue;
    filter: contrast(1.7);
    margin-right: 15px;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 5px;
}
header {
    margin:0px;
}

.headings-box {
    height: 60px;
    width: 100%;
    display: block;
    
    position: relative;

}

.logo-heading {
    float: left;
    font-size: 20px;
    background-color: blue;
    color: white;
    margin: 0px;
    border-radius: 5px;
}
.nav-bar {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    
}
.nav-bar button {
    color: white;
    background-color: black;
    filter: contrast(1.8);
    border: none;
    margin-right: 5px;
    border-radius: 5px;
}

.nav-bar .play-game {
    color: white;
    background-color: black;
    
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.nav-bar .home-link {
    color: white;
    background-color: black;

    border: none;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.nav-bar .feedback-link {
    color: white;
    background-color: black;

    border: none;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.quiz-heading2 {
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    height: 20px;
    margin-top: 50px;
    
    
    display: block;
    
}

.alert-heading-box {
    height: 80px;
    width: auto;
    display: block;
    
}
.alert {
    text-align: center;
    font-size: 15px;
    background-color: blueviolet;
    width: 60%;
    padding: 7px;
    border-radius: 5px;
    margin-left: 240px;
    margin-top: 30px;
    height: 20px;
    visibility: hidden;
    
    
}
.show-data {
    height: 20px;
    width: auto;
    color: blueviolet;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 0;
}
.profile-avatar  {
     vertical-align: middle;
     width: 60px;
     height: 60px;
     margin-left: 90px;
     visibility: hidden;
     
 }
#main-box {
    
    background-color: yellow;
    box-sizing: border-box;
    width: 80%;
    height: 55vh;
    max-height: 310px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 1%;
    border-radius: 5px;
    display: none;
}
.quiz {
    font-size: 15px;
    margin: 15px;
    color: black;
    font-weight: 600;
    
}
.option {
    background-color: white;
    font-size: 15px;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 50%;

}
.start {
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    margin: 10px auto 0px auto;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align:center;
    height: 20px;
    width: 120px;
}
.option:hover {
    background-color: rgb(238, 199, 199)
}
.button:hover {
    background-color: red;
}
.option.selected {
    background-color: blue;
}
#quiz-score {
    font-size: 20px;
    margin-top: 20px;
}
.start {
    width: 10%;
    
}
.social-icons {
    max-height: 50px;
    margin: 0px 0px 5px 0px;
    
    
    
    
    
}
/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
*/
.social-container {
    display: flex;
    width: 100%;
    max-height: 50px;
    justify-content: center;
    justify-content:baseline;
    border-radius: 5px;
    
    

}
.social-container > div {


    display: inline;
    font-size: 10px;
    padding: 0px;
    width: 80px;
    height: 20px;
    background-color: rgb(204, 189, 189);
    margin: 0;
    
    
}
#profile-model {
    height: 85px;
    width: auto;
    margin-top: 100px;
}

.profile-text {
    
    background-color: #fefefe;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 5px;
}
.close-popup {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.profile-model-style {
    
    display: none;

}
.close-popup {
    margin-bottom: 15px;
}
.rate-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300;
    color: blue;
    height: 100px;
    width: auto;
    filter: contrast(1.7);
    
}
.rate-heading {
    height: 30px;
    margin: 0;
    font-size: 300;
}
.rate-form .rateInput {
    color: blue;
}
.rate-para {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300;
    color: blue;
    height: 25px;
    width: auto;
    margin: 5px 0px 0px 0px;
}
.rate-box {
    height: 100px;
    width: auto;
}
.satisified {
    text-align: left;
    width: 100%;
    position: relative;
    margin-right: 100px;
}
.average {
    text-align: center;
    width: 100%;
    position: relative;
    margin-right: 100px;

}
.dissatisified {
    text-align: center;
    width: 100%;
    position: relative;

}
.enter-button {
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    color: blue;
}
.average {
    text-align: center;
    width: 100%;
    position: relative;

}
.review-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300;
    color: blue;
    height: 350px;
    width: auto;
    filter: contrast(1.7);
    

}
.review-form {
    height: 350px;
    width: auto;
}
#review-content {
    height: 85px;
    width: auto;
    border-radius: 5px;
}
#review-exp {
    height: 85px;
    width: auto;
    border-radius: 5px;
}
.submit-description {
    height: 25px;
    width: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    color: blue;
}

.empty-box {
    height: 170px;
    width: 100%;
}

/*
.instructions {
    height: 220px;
    width: 50%;
    
}
.instr-para {
    height: 180px;
    width: auto
    
}
.instr-list {
    height: 150px;
    width: auto;
    te

    
}
*/
.instructions {
    height: 350px;
    width: auto;
   
}
div.instructions {
    display: block;
    height: 240px;
    width: auto;
    text-align: center;
    
}
ul.instr-list {
    color:#fefefe;
    display: inline-block;
    text-align: left;
    margin-bottom: 150px;
}
ul.instr-list li {
    margin-top: 5px;
    list-style-type: disc;
}
.instr-heading {
    
    height: 22px;
    width: auto;
    color: blue;
    text-align: center;
    
}